
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bisnes {
    width: 100%;
    padding-top: 100px;
}

.bisnes_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    
}

.bisnes_right {
    width: 50%;   
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: flex-start;
    
    padding: 10px;
    margin: 0;

}
.bisnes_img {
    width: 100%;
    height: 100%;
    padding-top: 5px; 
}

.img5 {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: 0;
}

.img_medal {
    width: 100%;
    padding-top: 20px;
}


.container_text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;      
}
.container_text_left {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px; 
    padding-bottom: 70px;     
}
.container {
    width: 1440px;
    display: block;
}

.card {
    width: 100%;
    padding-bottom: 100px;

}
.qr {
width: 30%;

}
.img_qr {
    width: 150px;

}
.card_text {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    letter-spacing: 2px;
    line-height: 40px;

}
.card_bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.head  {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;   
  
}

p { text-indent: 30px;
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
}
.bisnes_text_h {
    font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
}

.leftbloc_header  {
    width: 300px;
    flex-direction: column;
    justify-content: start;
    align-items: start;   
}

.logo_header {
    width: 150px;
    padding-top: 30px;
    padding-left: 50px;

}

.logo_img {
    width:130px;
    

}
.foto_header {

}

.foto_img {

}
.bar {
    width: 100%;
    height: 70px;
}


.str_bar {
    width: 115px;
    height: 70px;
    align-items: center;
    
    
}

.bar_slk {
    text-decoration: none;
    color: black;
    
}

.bar_text {
    font-size: 15px;
    color:  black;
}

.bar_slk:hover {
    color: brown;
    text-shadow: 10px rgb(198, 43, 43);
}
.bar_text:hover {
    color: brown;
    text-shadow: 10px rgb(198, 43, 43);
}





